body {
  background-color: antiquewhite;
  text-align: center;
}

h1 {
  color: blue;
  text-shadow: 3px 5px rgba(150, 150, 150, 0.5);
}

.challenge {
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-style: solid;
}

button {
  text-align: center;
  background-color: grey;
  color: white;
  position: relative;
  display: inline-block;
  margin: 10px 10px;
  padding: 15px;
  width: 70px;
  height: auto;
}

button:hover {
  background-color: blue;
}

button:active {
  top: 4px;
}

#refresh {
  background-color: rgba(250, 50, 50, 0.5);
  width: auto;
  height: auto;
}
#refresh:hover {
  background-color: rgba(250, 50, 50, 0.8);
}
